body {
    font-family: Arial;
    background-color: rgb(250, 231, 240);
}

.hello{
    font-size: 5em;
    text-align: center;
    margin-top: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.song-container{
    padding: 5%;
    background-color: hotpink;
    margin: 3%;
    display: inline-block;
    width: 15%;
    
  }

.song-title{
    color: rgb(243, 233, 245);
    font-size: 1.5rem;
    font-family:monospace;
}

.song-artist{
    color: rgb(222, 215, 238);
    font-size: 1.5rem;
    font-family: monospace;
}
img{
    width: 100%;
    height: auto;

}