*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
img{
    width: 100%;
    box-sizing: border-box;
}
.box-top{
    width: 100%;
    height: 15%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box-top>div{
    height: 100%;
    display: flex;
    align-items: center;
}
.top-left{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-left>button{
    background-color: #ffffff;
    color: black;
    font-size: 3vw;
    border-radius: 10px;
}
.top-center{
    width: 50%;
}
.wh-box>ul>li>span{
    background-color: lightgray;
    color: black;
    padding: 0.5vw 0.8vw;
    border-radius: 5px;
}
.top-center>input{
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    height: 80%;
    background-color: black;
    color: white;
    text-indent: 1.85vw;
    font-size: 3vw;
}
.top-right{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-right>div{
    width: 40%;
    text-align: center;
    cursor: pointer;
}
.top-right>div>img{
    width: 30%;
}
.i,.u{
    width: 4% !important;
}

.a {
    width: 7% !important;
}

.c,.z,.e{
    width: 10% !important;
}
.box-con{
    width: 100%;
    height: 85%;
    position: relative;
    overflow: hidden;
}
.box-con>div{
    position: absolute;
    width: 15%;
}
.a{
    left: 10%;
    top: 20%;
}
.b{
    left: 11%;
    top: 26%;
}
.c{
    left: 23%;
    top: 45%;
}
.d{
    left: 11.6%;
    top: 36.8%;
}
.e{
     left: 26%;
     top: 77%;
}
.f{
    left: 30%;
    top: 61%;
}
.g{
    left: 22%;
    top: 42%;
}
.h{
    left: 31%;
    top: 32%;
}
.i{
    left: 16%;
    top: 34%;
}
.j{
    left: 61%;
    top: 38%;
}
.k{
    left: 10%;
    top: 37%;
}
.l{
    left: 68%;
    top: 22%;
}
.m{
    left: 31%;
    top: 77%;
}
.n{
    left: 31%;
    top: 48%;
}
.o{
    left: 36%;
    top: 44%;
}
.p{
    left: 78%;
    top: 40%;
}
.q{
    left: 55%;
    top: 20%;
}
.r{
    left: 30%;
    top: 46%;
}
.s{
    left: 11%;
    top: 55%;
}
.t{
    left: 38%;
    top: 38%;
}
.u{
    left: 34%;
    top: 5%;
}
.v{
    left: 36%;
    top: 86%;
}
.w{
    left: 76%;
    top: 78%;
}
.x{
    left: 74%;
    top: 31%;
}
.y{
    left: 77%;
    top: 44%;
}
.z{
    left: 19%;
    top: 20%;
}

/*文字**/
.text{
    /*position: absolute;*/
    width: 100%;
    /*left: 50%;*/
    /*transform: translateX(-50%);*/
    /*bottom: -15px;*/
    color: white;
    font-size: 1.3vw;
    margin: auto;
    text-align: center;
}
.btns{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 1vw 0.8vw;
    text-align: center;
    cursor: pointer;
}
.top-right>div{
    position: relative;
}
.wh-box{
    position: absolute;
    width: 30vw;
    /*height: 100px;*/
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    line-height: 3vw;
    border-radius: 10px;
    z-index: 999;
}
.wh:hover .wh-box{
    display: block;
}
.gt:hover .gt-box{
    display: block;
}
.gt-box{
    position: absolute;
    width: 50vw;
    /*height: 100px;*/
    background-color: white;
    right: 0;
    display: none;
    /*line-height: 3vw;*/
    border-radius: 10px;
    padding: 1vw;
    box-sizing: border-box;
    z-index: 998;
}
.gt-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gt-text{
    font-size: 30%;
    width: 100%;
    text-align: left;
    position: relative;
    z-index: 999;
}

.imgs>img{
    transition: all 0.3s;
}
.imgs>img:hover{
    cursor: pointer;
    margin-top: 5px;
    box-shadow:2px 2px 3px #aaaaaa;
}

@media screen and (max-width: 580px){
    .gt-box{
        position: absolute;
        width: 90vw;
        /*height: 100px;*/
        background-color: white;
        right: 1vw;
        display: none;
        /*line-height: 3vw;*/
        border-radius: 10px;
        padding: 1vw;
        box-sizing: border-box;
    }
    .wh-box{
        position: absolute;
        width: 90vw;
        /*height: 100px;*/
        background-color: white;
        display: none;
        line-height: 20px;
        border-radius: 10px;
        left: -555%;
        transform: translateX(-0%);
        padding: 5vw;
        box-sizing: border-box;
    }
    .box-con>div{
        position: absolute;
        width: 30%;
    }

    .a,.i,.u{
        width: 11% !important;
    }
    
    .text{
        /*position: absolute;*/
        width: 100%;
        /*left: 50%;*/
        /*transform: translateX(-50%);*/
        /*bottom: -15px;*/
        color: white;
        font-size: 20px;
        margin: auto;
        text-align: center;
    }
    .btns{
        position: absolute;
        bottom: 100px;
        right: 15px;
        background-color: white;
        color: black;
        border-radius: 10px;
        padding: 1vw 0.8vw;
        text-align: center;
        cursor: pointer;
    }
}