
body {
    background-color: #E6E4DF;
}

nav {
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
} 

#c2 {
    display: none;
}

a { 
    text-decoration: none;
    font-family: Brush Script MT;
    font-size: 36px;
    font-style: italic;
    color: black;
    font-weight: 400;
    margin: 0;
}

/* a :hover {
    font-size: 40px;
    color: aliceblue;
} */

#news {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    left: 11px;
    top: 20px;
    background: #EEBCC5;
}

#menu {
    width: 28px;
    height: 34px;
    left: 1396px;
    top: 20px;
    background: #EEBCC5;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 15px;
    flex-basis: 100%;
    margin-left: 10%;
    margin-right: 10%;
    /* margin-top: 103px; */
}

ul :hover {
    opacity: 50%;
}


#red {
    background-color: #FFA9A9;
    width: 75px;
    height: 435px;
    margin-top: 84px;
}

#orange {
    background-color: #FCC4A5;
    width: 75px;
    height: 435px;
    margin-top: 109px;
}

#yellow {
    width: 75px;
    height: 435px;
    background-color: #F9EEC5;
    margin-top: 141px;
}

#n4 {
    width: 75px;
    height: 435px;
    background-color: #EDFCC3;
    margin-top: 109px;
}

#n5 {
    width: 75px;
    height: 435px;
    background-color: #C1F7AE;
    margin-top: 84px;
}

#n6 {
    width: 75px;
    height: 435px;
    background-color: #BCF8DB;
    margin-top: 141px;
}

#n7 {
    width: 75px;
    height: 435px;
    background-color: #BAFFF7;
    margin-top: 109px;
}

#n8 {
    width: 75px;
    height: 435px;
    background-color: #B8E7FB;
    margin-top: 84px;
}

#blue {
    width: 75px;
    height: 435px;
    background-color: #B9C9F3;
    margin-top: 141px;
}

#purple {
    width: 75px;
    height: 435px;
    background-color: #DDCDFF;
    margin-top: 84px;
}

#click {
    color: #f78282;
}

.big {
    font-family: Brush Script MT;
    font-style: italic;
    font-weight: normal;
    font-size: 72px;
    line-height: 88px;  
    position: absolute;
    margin: auto;
    text-align: center;
    margin: 0;
    padding: 0;
    bottom: 45px;
    left: 0;
    right: 0;
    
}

#small {
    font-family: Brush Script MT;
    font-style: italic;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    margin: auto;
    text-align: center;
    margin: 0;
    padding: 0;
    bottom: 45px;
    left: 0;
    right: 0;
}

#otherworks {
    position: absolute;
    width: 121px;
    height: 24px;
    left: 11px;
    bottom: 10px;  
    font-family: Brush Script MT;
    font-style: italic;
    font-weight: normal;
    font-size: 21px;
    line-height: 26px;
}

@media (max-width: 1032px) {
    #click {
        color: #f78282;
        font-size: 20px;
    }

    #red {
        background-color: #FFA9A9;
        width: 40px;
        height: 435px;
        margin-top: 84px;
    }
    
    #orange {
        background-color: #FCC4A5;
        width: 40px;
        height: 435px;
        margin-top: 109px;
    }
    
    #yellow {
        width: 40px;
        height: 435px;
        background-color: #F9EEC5;
        margin-top: 141px;
    }
    
    #n4 {
        width: 40px;
        height: 435px;
        background-color: #EDFCC3;
        margin-top: 109px;
    }
    
    #n5 {
        width: 40px;
        height: 435px;
        background-color: #C1F7AE;
        margin-top: 84px;
    }
    
    #n6 {
        width: 40px;
        height: 435px;
        background-color: #BCF8DB;
        margin-top: 141px;
    }
    
    #n7 {
        width: 40px;
        height: 435px;
        background-color: #BAFFF7;
        margin-top: 109px;
    }
    
    #n8 {
        width: 40px;
        height: 435px;
        background-color: #B8E7FB;
        margin-top: 84px;
    }
    
    #blue {
        width: 40px;
        height: 435px;
        background-color: #B9C9F3;
        margin-top: 141px;
    }
    
    #purple {
        width: 40px;
        height: 435px;
        background-color: #DDCDFF;
        margin-top: 84px;
    }

    #c2 {
        display: grid;
    }
}

@media (max-height: 784px) {
    .big {
        font-family: Brush Script MT;
        font-style: italic;
        font-weight: normal;
        font-size: 72px;
        line-height: 88px;  
        margin: auto;
        text-align: center;
        margin: 0;
        padding: 0;
        left: 0;
        right: 0;   
        position: fixed;
        top: 55px;
    }
    
    #small {
        font-family: Brush Script MT;
        font-style: italic;
        font-size: 18px;
        line-height: 22px;
        margin: auto;
        text-align: center;
        margin: 0;
        padding: 0;
        bottom: 10px;
        left: 0;
        right: 0;
        position: fixed;
        top: 120px;
    }
    
    #otherworks {
        display: none;
    }
}

