*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: white;
    transform: scale(1.2);
}
body{
    width: 100vw;
    background-color: #C7BFAE;
    padding: 0;
    margin: 0;
}
.content{
    margin-left: auto;
    max-width: 85%;
    /* border: 1px solid black; */
    margin-right: 20px;
    padding: 20px 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 15%;
}
.logo>img{
    width: 100%;
}
.nav{
    width: 70%;
    position: relative;
}
.menu{
    display: flex;
    padding: 1vw;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
    width: 70%;
    float: right;
    box-sizing: border-box;
}
.menu>div{
    margin-right: 20px;
}
h1 span {
	font-size: 25px;
	line-height: 12px;
	color: #666666;
	margin-left: 10px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: copperplate, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
    font-weight: normal;
     position: relative;
 }
 .title{
    position: absolute;
    left: -18%;
    bottom: -10%;
 }
 h2 {
	font-size: 15px;
	line-height: 1.8;
	color: #666666;
	text-align: left;
	border-bottom: 1px solid #A3A3A3;
	margin-bottom: 7px;
	padding-bottom: 12px;
    box-sizing: border-box;
}
.con{
    width: 90%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.con_top{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.con_top>div>div{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    /* text-align: center; */
}
.con_top>div{
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.text>p{
    font-weight: inherit;
    color: #575757;
    font-size: 14px !important;
    box-sizing: border-box;
}
.img{
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
}
button{
    padding: 10px;
    border:0 ;
    background-color: black;
    color: white;
    margin-top: 20px;
}
.img>a>img{
    width: 100%;
    transition: all 0.3s;
}
.img>a>img:hover{
    transform: scale(1.2);
}
button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.text>p{
    font-weight: inherit;
    font-style: inherit;
    /* font-size: 100%; */
    font-family: inherit;
    vertical-align: baseline
}
.con_bottom{
    width: 95%;
    margin-top: 20px;
    border-top: 1px solid #A3A3A3;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.con_bottom>div{
    width: 30%;
}
.con_bottom>div>h4{
    color: #945f47;
}
.con_bottom>div>p{
    color: #666666;
    font-size: 14px;
}
@media screen and (max-width: 500px){
    .content{
        max-width: 95%;
        margin: auto;
    }
    header{
        width: 90%;
        display: block;
        margin: auto;
    }
    .logo{
        width: 15%;
        margin: auto;
    }
    .logo>img{
        width: 100%;
    }
    .nav{
        width: 100%;
        /* position: relative; */
    }
    .menu{
        display: flex;
        padding: 1vw;
        border-top: 1px solid rgba(0, 0, 0, 0.6);
        border-bottom: 1px solid rgba(0, 0, 0, 0.6);
        width: 100%;
        /* float: right; */
        justify-content: space-around;
    }
    .menu>div{
        margin-right: 20px;
    }
    h1 span {
        font-size: 16px;
        line-height: 12px;
        color: #666666;
        margin-left: 10px;
    }
    h1{
        font-size: 20px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: copperplate, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;;
        font-weight: normal;
         /* position: relative; */
     }
     .title{
        margin: auto;
        position: unset;
     }


     .con_top{
        width: 100%;
        display: block;
    }
    .con_top>div>div{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin: auto;
        /* text-align: center; */
    }
    .con_top>div{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .con_bottom{
        width: 100%;
        margin-top: 20px;
        border-top: 1px solid #A3A3A3;
        box-sizing: border-box;
        overflow: hidden;
        display: block;
    }
    .con_bottom>div{
        width: 90%;
        margin: 20px auto;
    }
    .con_bottom>div>h4{
        color: #945f47;
    }
    .con_bottom>div>p{
        color: #666666;
        font-size: 14px;
    }
    
}
 