*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
}
.con{
    width: 90%;
    margin: auto;
}
.con>h2{
    color: white;
    text-align: center;
    padding: 20px 0 ;
}
.con_img{
    width: 80%;
    margin: auto;
}
.con_img>img{
    width: 100%;
}
.xyy{
    position: absolute;
    right: 60px;
    top: 60px;
    background-color: white;
    padding: 5px;
    color: black;
}
.xyy{
    cursor: pointer;

}