body { 
	background: black; 
}

.red-button,
.button-shadow {
	border-radius: 50%;
	height: 160px;
	margin: 25px auto;
	width: 160px;
}

.red-button {
	background: radial-gradient(
		circle at top,
		white,
		yellow,
		orange,
		red,
		darkred,
		maroon,
		indigo,
		black
	);
	border-right: 5px solid black;
	border-left: 5px solid black;
	border-bottom: 5px solid black;
	cursor: pointer;
}

.red-button:active {
	box-shadow: 
		0 -5px 5px cyan,
		-5px -10px 20px indigo,
		2px -10px 20px magenta;
	border-bottom: 10px solid black;
	transform: scale(0.97, 0.95) translateY(5px);
}

.button-shadow {
		box-shadow: 
		-5px 10px 20px black, 
		5px 10px 20px black, 
		-5px 20px 30px blue, 
		5px 20px 30px blue;
}

.fa-circle {
	color: red;
	text-shadow: 0 2px 2px darkblue;
}

.fa-power-off {
	text-shadow: 
		-1px -1px 10px white, 
		1px -1px 10px white, 
		-1px 1px 10px blue, 
		1px 1px 10px blue,
		0px -20px 50px orange,
		20px 0 50px darkred, 
		-20px 0 50px darkred,
		0 20px 50px indigo;
}

button {
  margin:0 auto;
  background-color:#EDE3E5;
  display:block;
  margin:0 autoï¼›
}

.hide{
  visibility: hidden;
}

.reveal{
  visibility: visible;
  color: white;
}

.mystyle {
  width: 200px;
  height: 100px;
  font-family:monospace;
  color: #FF8B8C;
  font-size: 25px;
}

.button2 {
  margin-top: 150px;
}

.button1{
  margin-top: 80px;
}

.button3{
  margin-top: 250px;
}