*{
    padding: 0;
    margin: 0;
}
.box{
    width: 100vw;
    overflow: hidden;
    min-height: 100vh;
}
.murder {
    background-color:red;
}

.armed {
    background-color:green;
}

.terrorist {
    background-color: blue;
}

.sexually {
    background-color: hotpink;
}

.assassination {
    background-color: gray;
}
.drug {
    background-color: gold;
}
.con{
    width: 60%;
    margin: 3vw auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.btn_text{
    width: 60%;
    margin: 2vw auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.con>div{
    width: 48%;
}
.con>div>img{
    width: 100%;
}
.title{
    width: 100%;
    text-align: center;
    font-size: 3vw;
    margin-top: 3vw;
}
.text_con{
    font-size: 20px;
    font-weight: 800;
}
.text1,.text2,.text3{
    font-weight: 400;
    margin-bottom: 1vw;
}
.mx{
    width: 25%;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 1.3vw;
    margin: 3vw auto ;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    bottom: 0;
}
.text4{
    color: rgb(255, 255, 255);
    font-size: 14px;
    width: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: thin;
}
.btn{
    margin-left: 3vw;
    margin-top: 2vw;
    background-color: rgb(0, 0, 0);
    color: red;
    padding: 1vw;
    box-sizing: border-box;
    font-family:monospace ;
    
}
@media screen and (max-width:500px) {
    .con{
        width: 80%;
        margin: 3vw auto 0 auto;
        display: block;
        /* justify-content: space-between; */
    }
    .con>div{
        width: 80%;
    }
    .btn_text{
        width: 60%;
        margin: 2vw auto;
        display: block;
    }
    .btn_text>div{
        width: 100%;
    }

    .title {
        font-size: 30px;
    }
    .mx{
        width: 30px;
        height: 50px;
        text-align: center;
        font-size: 30px ;
    }
}

body {
    font-family:monospace ;
}