body {
    font-family:monospace;
    background-color: rgb(250, 231, 240);
}

/* .home{
    font-size: 20px;
    text-align: center;
    margin-top: 10%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    padding: 2%;
    background-color: white;
} */
.container{
    position: relative;
}
.imgs{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    z-index: 999;
    display: none;
}
.imgs>img{
    width: 100%;
}
.box{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    /*grid-template-columns:auto auto auto auto auto auto auto auto;*/
    flex-wrap: wrap;
    overflow: hidden;
    /* background-color: green; */
}
.sin-container{
    overflow: hidden;
    padding:10px 15px;
    background-color: white;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    width: auto;
    color: white;
    /*animation: con 3s linear infinite;*/
    /* min-width: 30%; */
    text-align: center;
    flex: auto;
}
.sin-container>p{
    user-select: none
}
@keyframes con {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}
.sin-crimes{
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-family:monospace;
}

img{
    width: 100%;
    height: auto;
}

.filter {
    padding: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.boxc{
    flex: auto;
    text-align: center;
}

.js-murder {
    background-color: red;
    display: inline-block;
    padding:10px 15px;
}

.js-armed {
    background-color: green;
    display: inline-block;
    padding:10px 15px;
}

.js-terrorist {
    background-color: blue;
    display: inline-block;
    padding:10px 15px;
}

.js-sexually  {
    background-color: hotpink;
    display: inline-block;
    padding:10px 15px;
}

.js-assassination  {
    background-color: gray;
    display: inline-block;
    padding:10px 15px;
}

.js-drug {
    background-color: gold;
    display: inline-block;
    padding:10px 15px;
}

.js-reset {
    background-color: white;
    display: inline-block;
    color: red;
    padding:10px 15px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}
.boxc{
    padding: 10px 15px;
}
.murder {
    background-color:red;
}

.armed {
    background-color:green;
}

.terrorist {
    background-color: blue;
}

.sexually {
    background-color: hotpink;
}

.assassination {
    background-color: gray;
}

.drug {
    background-color: gold;
}

.box>marquee{
    user-select: none;
}


.red{
    background-color: red !important;
}
.white{
    background-color: white !important;
}

@keyframes dh1{
    0%{
        transform: translateX(0px);
    }50%{
        transform: translateX(20px);
    }100%{
        transform: translateX(0px);
    }
}
@keyframes dh2{
    0%{
        transform: translateX(0px);
    }50%{
        transform: translateX(-20px);
    }100%{
        transform: translateX(0px);
    }
}
.dh1{
    animation: dh1 1s linear infinite;
}
.dh2{
    animation: dh2 1s linear infinite;
}