*{
    padding: 0;
    margin: 0;
}
.btn{
    margin-left: 3vw;
    margin-top: 2vw;
    background-color: rgb(0, 0, 0);
    color: red;
    padding: 1vw;
    /* width: 30%; */
    box-sizing: border-box;
    
}
.box{
    width: 100vw;
    overflow: hidden;
    min-height: 100vh;
}
.con{
    width: 60%;
    margin: 1vw auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.con>div{
    width: 48%;
}
.imgs{
    width: 100%;
}
.imgs>img{
    width: 100%;
    text-align: center;
}
.right>div{
    width: 100%;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.text1{
    color: white;
    font-size: 3vw;
}
.text2{
    padding: 0.5vw;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: thin;
}
.murder {
    background-color:red;
}

.armed {
    background-color:green;
}

.terrorist {
    background-color: blue;
}

.sexually {
    background-color: hotpink;
}

.assassination {
    background-color: gray;
}

.drug {
    background-color: gold;
}
.bottom{
    width: 100%;
    margin-top: 2vw;
}
.bottom>div{
    width: 80%;
    border: 1px solid black;
    padding: 0.8vw 1vw;
    color: black;
    text-align: center;
    margin-bottom: 0.8vw;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.bottom>div:hover{
    background-color: black;
    color: white;
}
.btns{
    width: 50%;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    color: white;
    background-color: black;
    font-size: 1.3vw;
    margin: 3vw auto ;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}


.imgs{
    position: relative;
}
.imgs>div{
    /* width: 10%; */
    position: absolute;
    z-index: 999;
    box-sizing: border-box;
}
.imgs>div>img{
    text-align: center;
    /* width: 100%; */
}
.imgs>div>img{
    text-align: center;
    width: 180%;
}
.img1{
    top: 20%;
    left: 66%;
    width: 5%;
}
.img2{
    top: 70%;
    left: 40%;
    width: 15%;
}
.img3{
    top: 30%;
    left: 36%;
    width: 17%;
}
.img4{
    top: 55%;
    left: 60%;
    width: 15%;
}
.img5{
    top: 50%;
    left: 25%;
    width: 10%;
}
.img6{
    top: 35%;
    left: 25%;
    width: 5%;
}
.img7{
    top: 45%;
    left: 65%;
    width: 2%;
}


@media screen and (max-width:500px) {
    .con{
        width: 80%;
        margin: 1vw auto 0 auto;
        display: block;
        /* justify-content: space-between; */
    }
    .top{
        display: block;
        text-align: center;
    }
    .con>div{
        width: 100%;
    }
    .bottom{
        text-align: center;
    }
    .bottom>div{
        margin: 20px auto;
    }
    .btns{
        width: 50%;
        height: 45px;
        padding: 0.5vw 1.5vw 0.5vw 1.5vw;
        color: white;
        background-color: black;
        font-size: 19px;
        margin: 3vw auto ;
        border-radius: 10px;
        cursor: pointer;
        text-align: center;
    }
    .text1 {
        font-size: 20px;

    }
}

body {
    font-family: monospace;
}